/* Announcements.module.css */
.announcements {
  padding: 20px;
}

.dashboardContainer {
  display: flex;
}

.mainContent {
  flex: 1;
  margin-left: 250px; /* Adjust this value based on the width of your Sidebar */
  padding: 20px;
}

.mainContent h1{
  text-align: center;
}

.announcementList {
  margin-top: 20px;
}

.announcementCard {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #f9f9f9;
}

.createButton {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.createButton:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

@media (max-width: 768px) {
  .mainContent {
    margin-left: 0; /* Remove margin on small screens */
    width: 100%; /* Take full width on small screens */
    padding: 10px; /* Adjust padding for small screens */
  }
}